///
/// Variable Declarations
///

$grid_spacing: 0.35em !default;

$color_border: #f66 !default;
$color_border_hcard: $color_border !default;
$color_link: #66f !default;
$color_text: #000 !default;
$color_code: $color_text !default;
$color_code_block: $color_text !default;

$border_style_main: solid !default;
$border_width_main: 1px !default;

$border_style_secondary: $border_style_main !default;
$border_width_secondary: 1px 1px 1px 2px !default;
$border_width_secondary_head: 0 0 1px !default;

$border_style_table: $border_style_secondary !default;
$border_width_table: $border_width_secondary !default;

$border_style_subability: $border_style_secondary !default;
$border_width_subability: 0 0 0 2px !default;

$border_style_code: $border_style_secondary !default;
$border_width_code: 1px !default;

$border_style_title: $border_style_main !default;
$border_width_title: 0 0 2px !default;

$background: #6f6 !default;

$color_background_main: rgba(255, 255, 255, 85%) !default;
$color_background_secondary_dark: rgba(255, 255, 255, 35%) !default;
$color_background_secondary_light: rgba(255, 128, 128, 35%) !default;
$color_background_table_even: $color_background_secondary_light !default;
$color_background_table_odd: $color_background_secondary_dark !default;
$color_background_tooltip: #ffffff !default;

$font_title: sans-serif !default;
$font_symbol: sans-serif !default;
$font_main: sans-serif !default;
$font_code: monospace !default;

$font_weight_main: normal !default;
$font_weight_strong: bold !default;
$font_weight_code: normal !default;
$font_weight_title: bold !default;
$font_weight_symbol: normal !default;

$font_style_main: normal !default;
$font_style_em: oblique !default;

$font_size: 16px !default;
$font_size_menu: 0.9rem !default;
$font_size_code: 0.9rem !default;
$font_weight_menu: normal !default;

$menu_mobile_seperator: " • " !default;
$menu_width: 15em !default;
$menu_min_height: 20em !default;

$media_screen: 'not print';
$media_print: 'only print';
$media_desktop: 'only screen and (min-width: 70em)';
$media_mobile: 'not screen and (min-width: 70em)';

$sidebar_layout_padding_width: 0.7em !default;

///
/// Mixins
///

@mixin border_color($color) {
  @media #{$media_screen} {
    border-color: $color;
  }
}

@mixin border($style, $width) {
  @include border_color($color_border);
  @include border_no_color($style, $width);
}

@mixin border_no_color($style, $width) {
  border-style: $style;
  border-width: $width;
}

@mixin font_main {
  font-family: $font_main;
  font-style: $font_style_main;
  font-weight: $font_weight_main;
}

@mixin font_code {
  font-family: $font_code;
  font-style: $font_style_main;
  font-weight: $font_weight_code;
}

@mixin font_title {
  font-family: $font_title;
  font-style: $font_style_main;
  font-weight: $font_weight_title;
}

@mixin font_symbol {
  font-family: $font_symbol;
  font-style: $font_style_main;
  font-weight: $font_weight_symbol;
}

///
/// General layout elements
///

ul, ol {
  margin: 0;
  padding-left: 1.75em;

  // Recursive lists
  :not(li) > & {
    margin: 0.8em 0 0.8em 0;
  }

  li > & {
    margin: 0.2em 0 0.2em 0;
  }
}

article {
  li + li {
    margin-top: 0.2em;
  }
}

img {
  border: 0;
}

.cols {
  display: flex;
  margin: 0.6rem 0 0.6rem 0;

  > * {
    flex: 50%;
  }
  > .p1 {
    flex: 10%
  }
  > .p2 {
    flex: 20%
  }
  > .p3 {
    flex: 30%
  }
  > .p4 {
    flex: 40%
  }
  > .p5 {
    flex: 50%
  }
  > .p6 {
    flex: 60%
  }
  > .p7 {
    flex: 70%
  }
  > .p8 {
    flex: 80%
  }
  > .p9 {
    flex: 90%
  }
}

///
/// Typography
///

body {
  @include font_main;
  @media #{$media_screen} {
    color: $color_text;
  }
  font-size: $font_size;
}

a {
  &:link, &:visited {
    color: $color_link;
    text-decoration: none;
  }

  &:hover, &:active {
    text-decoration: underline;
  }
}

b, strong {
  font-weight: $font_weight_strong;
  font-style: $font_style_main;
}

i, em {
  font-weight: $font_weight_main;
  font-style: $font_style_em;
}

p {
  margin: 0.6rem 0 0.6rem 0;
}

.symbol, .sy {
  @include font_symbol;
}

.c {
  margin-left: -0.5em;
  margin-right: -0.5em;
  line-height: 100%; // ensure we don't fuck stuff up
}

.c:not(.ml) {
  white-space: nowrap;
}

.select-only {
  display: inline-block;
  overflow: hidden;
  height: 0;
  width: 0;
  user-select: text;
}

.nosel {
  user-select: none;
}

.bu {
  display: inline-block;
  width: 1.25em;
  text-align: end;
}

.bu::after {
  @include font_symbol;
  content: "☆";
}

.ts {
  display: inline-block;
  width: 1.25em;
}

h2.center-head, h3.center-head, h4.center-head, h5.center-head, h6.center-head {
  text-align: center;
}

///
/// Headings
///

.h0, h1 {
  text-align: center;
}

h1 {
  @include border($border_style_title, $border_width_title);
}

.h0, h1, h2, h3, h4, h5, h6 {
  @include font_title;
}

h1.hide_h1 {
  display: none;
}

.section {
  @include font_symbol;

  float: right;
  user-select: none;
  font-weight: $font_weight_main;
}

.section-for-ability {
  display: none;
  user-select: none;
}

h2, h3, h4, h6 {
  @media #{$media_screen} {
    position: relative;

    .section {
      display: none;
    }

    &:hover, &:focus {
      > .section {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        text-align: right;
      }

      > .section-for-ability {
        float: right;
        display: inline-block;
        color: $color_link;
        text-decoration: underline;
        margin-right: 0.5em;
      }
    }
  }
}

.h0 {
  font-size: 3.65em;
  margin: 0.1em 0 0 0;
  padding: 0 0 0.3em 0;

  width: 100%;
  display: block;
}

h1 {
  font-size: 2.5em;
  margin: 0.1em 0 0 0;
  padding: 0 0 0.25em 0;
}

h2 {
  font-size: 1.9em;
  margin: 1.5rem 0 0.6rem 0;

  // common case that looks good with a margin override
  &, section > & {
    &, #subpages-section + & {
      h1 + &, p:has(.breadcrumbs) + & {
        margin: 0.75rem 0 0.6rem 0;
      }
    }
  }
}

h3 {
  font-size: 1.4em;
  margin: 1.1rem 0 0.6rem 0;
}

h4 {
  font-size: 1em;
  margin: 0.9rem 0 0.6rem 0;
}

///
/// Horizontal Rule Spacing
///

$hr_compensation_spacing: -0.425em !default;

hr {
  height: 1px;
  padding: 0;
  @include border($border_style_title, $border_width_title);
  margin: 1.5rem 0;
}

h1, h2, h3, h4, h5, h6 {
  section:has(> hr:last-child) + section > & {
    margin-top: $hr_compensation_spacing;
  }
}

hr + p {
  margin-top: $hr_compensation_spacing;
}

///
/// Code Formatting
///

div.highlight {
  // allow these divs to flow properly
  overflow-x: auto;
}

.highlight {
  // block quote
  color: $color_code_block;
  font-size: $font_size_code;
}

:not(div.highlight > pre) > code {
  // non-block quote
  color: $color_code;
}

.highlight, :not(div.highlight > pre) > code {
  @include font_code;

  background-color: $color_background_secondary_light;
  @include border($border_style_code, $border_width_code);
  padding: 0 1px 1px 1px;
}

.highlight > pre {
  padding: 0.67em;
  margin: 0;
}

.mono {
  @include font_code;
}

///
/// Breadcrumbs layout
///

.breadcrumbs {
  display: flex;
  justify-content: space-between;

  font-size: 0.8em;
  font-weight: $font_weight_menu;

  p:has(&) {
    margin-top: 0.15rem;
    margin-bottom: 0;

    + p {
      margin-top: 0.5rem;
    }
  }
}

///
/// Sidebar layout
///

:not(.no-table-layout):not(.aligntab) > table:not(.no-table-layout):not(.aligntab) {
  padding: 0;
  border-spacing: 0;

  @include border($border_style_table, $border_width_table);

  &:has(colgroup) {
    width: 100%;
  }

  tr:last-child > td {
    padding-bottom: 0.2rem;
  }

  th, td {
    .header > & {
      padding-top: 0.25rem;
      padding-bottom: 0.3em;
    }

    &:first-child {
      padding-left: $sidebar_layout_padding_width;
    }

    &:last-child {
      padding-right: $sidebar_layout_padding_width;
    }

    + th, + td {
      padding-left: $sidebar_layout_padding_width;
    }
  }

  .even, .header {
    background: $color_background_table_even;
  }

  .odd {
    background: $color_background_table_odd;
  }
}

.aligntab > table, table.aligntab {
  width: 100%;
  border-spacing: 0;
  padding: 0;

  thead {
    display: none;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.ability {
  > h6 {
    font-size: 1.2rem;
    margin: 0;
  }

  + .ability {
    margin-top: 0.6rem;
  }
}

.subability {
  background: none;
  padding-right: 0;
  @include border($border_style_subability, $border_width_subability);

  > h6 {
    font-size: 1rem;
    margin: 0;
  }
}

.ability-head {
  float: right;

  @include font_main;
  font-weight: $font_weight_title;
}

.subability-head {
  padding-right: 0;
}

blockquote {
  @include border($border_style_secondary, $border_width_secondary);

  margin: 0;
  padding-left: $sidebar_layout_padding_width;
  padding-right: $sidebar_layout_padding_width;
  background: $color_background_secondary_light;

  > :first-child {
    margin-top: 0.4em;
  }

  > :last-child {
    margin-bottom: 0.4em;
  }
}

.box {
  @include border($border_style_secondary, $border_width_secondary);

  > * {
    margin: 0;
    padding-left: $sidebar_layout_padding_width;
    padding-right: $sidebar_layout_padding_width;
    background: $color_background_secondary_light;
  }

  > h4, > h6 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  > h2, > h3, > h4, > h5, > h6 {
    margin: 0;
    background: $color_background_secondary_dark;
    @include border($border_style_secondary, $border_width_secondary_head);

    + p, + div {
      &:not(#xx) { // redundant :not(#xx) to fix precedence
        margin-top: 0;
        padding-top: 0.4em;
      }
    }
  }

  // The two main types of elements allowed in ability blocks.
  > p, > div {
    &:not(:first-child) {
      padding-top: 0.6rem;
    }

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0.4em;
    }
  }

  // Used to wrap stranger elements
  > div {
    > table, > hr {
      margin: 0;
    }

    > ul, > ol {
      margin: 0;

      > li:first-child > p:first-child {
        margin-top: 0;
      }

      > li:last-child > p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

blockquote, table, .box {
  margin: 0;

  + blockquote, + table, + .box {
    margin-top: 0.6rem;
  }

  &:last-child {
    margin-bottom: 0.4em;
  }
}

///
/// H-Card Layout
///

.h-card {
  $hcard_height: 1.5em;

  display: inline-block;
  position: relative;
  top: $hcard_height * 0.05;
  height: $hcard_height;
  padding-left: $hcard_height;
  background-color: $color_background_secondary_light;
  margin-top: -2px;
  margin-bottom: -2px;

  &, img {
    border-color: $color_border_hcard;
    border-width: 1px;
    border-style: solid;
    border-radius: calc($hcard_height / 2);
    box-sizing: border-box;
  }

  img {
    position: absolute;
    top: -1px;
    left: -1px;

    height: $hcard_height;
    width: $hcard_height;
  }

  .p-nickname {
    position: relative;
    top: -1px;

    @include font_main;
    line-height: $hcard_height;
    text-align: center;
    font-weight: $font_weight_strong;

    margin-left: 0.2em;
    margin-right: 0.75em;
  }
}

.h-card-hidden {
  display: none;
}

///
/// Alt-Text Layout
///

span.alt {
  @include border_no_color($border_style_title, $border_width_title);
  @include border_color($color_text);

  position: relative; // needed to make it absolute to this
  display: inline-block; // inline-block ensures no line breaks

  line-height: 120%; // ensure we don't fuck stuff up
  margin-top: -0.5em;
  margin-bottom: -0.5em;

  span.tt-tx {
    position: relative; // allow z-index.md
    z-index: 5;
  }

  span.tt-wr {
    display: none;
    user-select: none;
  }

  $alt_max_width: 20em;

  &:hover span.tt-wr {
    display: block;
    position: absolute;

    top: 1em;
    width: $alt_max_width;
    height: 100%;

    span.tt-in {
      display: block;
      position: relative; // allow z-index.md
      z-index: 10;

      @include border($border_style_secondary, $border_width_secondary);
      background: $color_background_tooltip;

      width: max-content;
      max-width: $alt_max_width;
      margin-top: 0.15em;
      padding: 0.4em;

      white-space: normal;
    }
  }
}

///
/// Page Layout
///

body {
  background: $background;
  min-height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

#grid {
  display: grid;
  gap: $grid_spacing;
  padding-left: $grid_spacing;
  padding-right: $grid_spacing;
  padding-bottom: $grid_spacing;

  width: 100%;
  max-width: 70em;
}

nav, #menu-inner, article {
  box-sizing: border-box;
}

article {
  width: 100%;
  min-height: 100%;
  padding: 5px 15px 5px 15px;
}

#menu-inner, article {
  background-color: $color_background_main;
  @media #{$media_screen} {
    @include border($border_style_main, $border_width_main);
  }
}

#menu-inner {
  width: 100%;
  padding: 5px 10px 5px 10px;
}

hr.nav-hr {
  margin: 0.85em 0;
}

.no-p p {
  margin: 0;
}

.a-left {
  float: left;
}

.a-right {
  float: right;
}

.a-left, .a-right {
  @include font_symbol;
  user-select: none;
}

.nav-span > ul {
  margin: 0.2rem 0 0.2rem 0;
}

.dissolved-menu {
  a {
    font-weight: $font_weight_strong;
  }
}

@media #{$media_desktop} {
  #grid:not(.nonav) {
    grid-template-columns: $menu_width 1fr;
    grid-template-rows: 0fr 1fr;

    header {
      grid-row: 1;
      grid-column: 1 / span 2;
    }
    nav {
      grid-row: 2;
      grid-column: 1;
    }
    main {
      grid-row: 2;
      grid-column: 2;
    }
  }

  .nav-header {
    display: block;
    margin-bottom: 0.2em;
    text-align: center;
    @include font_title;
  }

  #subpages-section {
    display: none;
  }

  #menu-inner {
    min-height: $menu_min_height;

    &, > :not(.nav-nosize) a {
      font-size: $font_size_menu;
      font-weight: $font_weight_menu;
    }

    .nav-nosize {
      font-size: 1rem;
      font-weight: $font_weight_main;
    }
  }

  .nav-mobile {
    display: none;
  }

  #nav-wrapper {
    position: sticky;
    top: $grid_spacing;
  }
}

@media #{$media_mobile} {
  #grid:not(.nonav) {
    grid-template-rows: 0fr 0fr 1fr;

    header {
      grid-row: 1;
      grid-column: 1;
    }
    nav {
      grid-row: 2;
      grid-column: 1;
    }
    main {
      grid-row: 3;
      grid-column: 1;
    }
  }

  #gen-menu, #nav-section, #gen-menu > p {
    display: inline;
  }

  #gen-menu > ul, #gen-menu > ul > li {
    display: inline;
    padding: 0;
  }

  .nav-header:after, #gen-menu > ul > li + li:before, #gen-menu > p + p:before {
    content: $menu_mobile_seperator;
    @include font_symbol;
  }

  .nav-desk {
    display: none;
  }

  #menu-footer {
    display: none;
  }
}

@media #{$media_print} {
  .section, nav, header {
    display: none;
  }
}

#grid.nonav {
  grid-template-rows: 0fr 1fr;

  header {
    grid-row: 1;
    grid-column: 1;
  }
  main {
    grid-row: 2;
    grid-column: 1;
  }
}