.fus {
  font-family: "Fabula Ultima icons";
  font-style: normal;
  font-weight: bold;
  user-select: none;

  &.red {
    color: red;
    -webkit-text-stroke: 0.75px black;
  }
}

.fus-span {
  user-select: none;
}

.fusy {
  font-family: "Noto Sans Symbols", "Noto Sans Symbols 2";
  font-style: normal;
  font-weight: bold;
  &.red {
    color: #dd0000;
  }
}