@use 'sass:list';

$font_title: "Hachi Maru Pop" !default;
$font_symbol: "Hachi Maru Pop" !default;
$font_text: "M Plus 2" !default;

$marker_li: "♡" !default;
$marker_li_2: "◇" !default;
$marker_title: "☆" !default;
$marker_sep: $marker_li !default;

$background: #000 !default;
$bg_alpha: 0.7 !default;

$title_selector: h1 !default;

$theme_color: 0 !default;
$theme_color_secondary: $theme_color !default;
$theme_chroma_mult: 1.0 !default;
$theme_chroma_mult_highlight: $theme_chroma_mult !default;
$theme_chroma_mult_table: 1.0 !default;
$theme_chroma_mult_border: 1.0 !default;
$theme_lightness_mult: 1.0 !default;
$theme_lightness_mult_highlight: 1.0 !default;
$theme_lightness_mult_border: 1.0 !default;
$theme_lightness_mult_text: 1.0 !default;
$theme_highlight_as_link: false !default;

$color_text: oklch(51% * $theme_lightness_mult * $theme_lightness_mult_text 0.16 * $theme_chroma_mult $theme_color) !default;
$color_link: oklch(69% * $theme_lightness_mult_highlight 0.19 * $theme_chroma_mult_highlight $theme_color) !default;
$color_text_highlight: if($theme_highlight_as_link, $color_link, oklch(51% * $theme_lightness_mult_highlight 0.16 * $theme_chroma_mult_highlight $theme_color)) !default;
$color_code_block: $color_text !default;

$color_background_main: oklch(list.slash(99% 0.01 * $theme_chroma_mult $theme_color_secondary, $bg_alpha)) !default;
$color_background_secondary_dark: oklch(list.slash(90% 0.06 * $theme_chroma_mult * $theme_chroma_mult_table $theme_color_secondary, 0.35)) !default;
$color_background_secondary_light: oklch(list.slash(95% 0.03 * $theme_chroma_mult * $theme_chroma_mult_table $theme_color_secondary, 0.15)) !default;
$color_background_table_even: oklch(list.slash(98% 0.01 * $theme_chroma_mult * $theme_chroma_mult_table $theme_color_secondary, 0.35)) !default;
$color_background_table_odd: oklch(list.slash(91% 0.05 * $theme_chroma_mult * $theme_chroma_mult_table $theme_color_secondary, 0.35)) !default;
$color_background_tooltip: oklch(99% 0.01 * $theme_chroma_mult $theme_color_secondary) !default;

$color_border_main: oklch(92% * $theme_lightness_mult_border 0.05 * $theme_chroma_mult * $theme_chroma_mult_border $theme_color) !default;
$color_border_hr: oklch(75% * $theme_lightness_mult_border 0.16 * $theme_chroma_mult * $theme_chroma_mult_border $theme_color) !default;
$color_decor: oklch(83% 0.10 * $theme_chroma_mult $theme_color) !default;

$font_weight_main: 420 !default;
$font_weight_strong: 625 !default;
$font_weight_code: 380 !default;
$font_weight_title: bold !default;
$font_weight_menu: $font_weight_main * 1.1 !default;

@use 'common_style' with (
  $color_border: $color_border_main,
  $color_link: $color_link,
  $color_text: $color_text,
  $color_code_block: $color_code_block,

  $color_background_main: $color_background_main,
  $color_background_secondary_dark: $color_background_secondary_dark,
  $color_background_secondary_light: $color_background_secondary_light,
  $color_background_table_even: $color_background_table_even,
  $color_background_table_odd: $color_background_table_odd,
  $color_background_tooltip: $color_background_tooltip,

  $font_title: $font_title,
  $font_symbol: $font_symbol,
  $font_main: $font_text,
  $font_code: ("Noto Sans Mono", $font_text),

  $font_weight_main: $font_weight_main,
  $font_weight_strong: $font_weight_strong,
  $font_weight_code: $font_weight_code,
  $font_weight_title: $font_weight_title,
  $font_weight_symbol: inherit,
  $font_style_em: oblique 12deg,
  $font_weight_menu: $font_weight_menu,

  $border_style_main: solid,
  $border_style_title: dotted,
  $border_width_secondary: 1px,

  $menu_mobile_seperator: "  " + $marker_sep + "  ",
  $menu_width: 13em,

  //noinspection CssUnknownTarget
  $background: $background,
);

:not(ol) > li::marker {
  content: $marker_li + "  ";
  @include common_style.font_symbol;
  line-height: 100%;
}

article li ul li::marker {
  content: $marker_li_2 + "  ";
  @include common_style.font_symbol;
  line-height: 100%;
}

h1, hr {
  @include common_style.border_color($color_border_hr);
}

.ability, blockquote, table {
  @include common_style.border_color($color_border_main);
}

#{$title_selector} {
  &:before {
    content: $marker_title + "  ";
    @include common_style.font_symbol;
    line-height: 100%;
  }

  &:after {
    content: "  " + $marker_title;
    @include common_style.font_symbol;
    line-height: 100%;
  }
}

.has-toc, .nonav {
  h2 {
    &::before {
      content: "《  ";
      margin-left: -0.5em;
      padding-left: 0.15rem;
      @include common_style.font_symbol;
      line-height: 100%;
    }

    &::after {
      content: "  》";
      @include common_style.font_symbol;
      line-height: 100%;
    }
  }


  h3, h6, .h7 > div {
    &::before {
      content: "〈  ";
      margin-left: -0.6em;
      padding-left: 0.15rem;
      @include common_style.font_symbol;
      line-height: 100%;
    }

    &::after {
      content: "  〉";
      @include common_style.font_symbol;
      line-height: 100%;
    }
  }

  .h0, h2, h3, h6 {
    &::before, &::after {
      @include common_style.font_symbol;
    }
  }
}

.h0, h1, h2, h3, h4, h5, h6 {
  color: $color_text_highlight;
}

.ability {
  h6 {
    font-size: 1rem;
  }
}

.zh {
  font-family: "Noto Sans SC", $font_text;
}

.decor {
  color: $color_decor;
}