<span class="h-card">
    <img class="u-photo" src="rimi_pfp_v1.jpg" alt=""><!--
    --><a class="p-nickname u-url" href="https://rimin.moe">Rimi</a>
    <span class="p-name h-card-hidden" aria-hidden="true">Rimi Kanokawa</span>
    <a class="u-email h-card-hidden" href="mailto:rimi@rimin.moe" aria-hidden="true">rimi@rimin.moe</a>
    <a class="u-key h-card-hidden" href="https://rimin.moe/Rimi-2024-06-10.asc" aria-hidden="true">GPG Key</a>
    <span class="p-gender-identity h-card-hidden" aria-hidden="true">Whatever causes the most trouble! :D</span>
</span>
