<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <link rel="stylesheet" type="text/css" href="/static/img_XXXX/all_style.css">
    </head>
    <body>
        <div id="grid">
            <header></header>
            <nav>
                <div id="nav-wrapper">
                    <div id="menu-inner" class="no-p"></div>
                    <div id="menu-footer"></div>
                </div>
            </nav>
            <main><article></article></main>
        </div>
    </body>
</html>
